{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}

[data]
    email = {{ $email | quote }}
    name = "Karolis Arbaciauskas"
    isWorkComputer = {{ $isWorkComputer }}

[edit]
    command = {{ env "EDITOR" | default "vim" | quote }}

[merge]
    command = {{ env "EDITOR" | default "vim" | quote }}
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[git]
    autoAdd = true
