# base packages
{{- range .brew.packages.base }}
brew "{{ . }}"
{{- end }}

# work-only packages
{{ if .isWorkComputer }}
{{- range .brew.packages.work }}
brew "{{ . }}"
{{- end }}
{{ end }}

# personal-only packages
{{ if not .isWorkComputer }}
{{- range .brew.packages.personal }}
brew "{{ . }}"
{{- end }}
{{ end }}

# base casks
{{- range .brew.casks.base }}
cask "{{ . }}"
{{- end }}

# env casks
{{ if .isWorkComputer }}
{{- range .brew.casks.work }}
cask "{{ . }}"
{{- end }}
{{ else }}
{{- range .brew.casks.personal }}
cask "{{ . }}"
{{- end }}
{{ end }}

# app store (base)
{{- range .brew.mas.base }}
mas "{{ .name }}", id: {{ .id }}
{{- end }}

# app store (personal)
{{ if not .isWorkComputer }}
{{- range .brew.mas.personal }}
mas "{{ .name }}", id: {{ .id }}
{{- end }}
{{ end }}
