[user]
  name = {{ .name }}
  email = {{ .email }}

[init]
  defaultBranch = {{ .git.user.default_branch }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = {{ .git.user.signing.program }}
  defaultKeyCommand = ssh-add -L

[commit]
  gpgsign = {{ .git.user.signing.enabled }}

[fetch]
  prune = true
  pruneTags = true

[push]
  default = current
  autoSetupRemote = true

[rebase]
  autoStash = true

[rerere]
  enabled = true

[branch]
  sort = -committerdate

{{- if .git.aliases }}
[alias]
{{- range $k, $v := .git.aliases }}
  {{ $k }} = {{ $v }}
{{- end }}
{{- end }}
