[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ onepasswordRead "op://Private/GitHub SSH Key/public key" }}

[init]
	defaultBranch = main

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true
