{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
# echo "source ~/.op/plugins.sh" >> ~/.zshrc && source ~/.zshrc

PACKAGES=(
  colima
  coreutils
  delve
  fzf
  go
  golangci-lint
  lazydocker
  lazygit
  mas
  neovim
  node
  ripgrep
  serve
  starship
  tmux
  xclip
  zsh-autosuggestions
  zsh-syntax-highlighting
)

CASKS=(
  1password
  1password-cli
  arc
  font-jetbrains-mono-nerd-font
  ghostty
  obsidian
  postman
  raycast
  tableplus
  the-unarchiver
)

{{ if .isWorkComputer }}
CASKS+=(
  slack
)
{{ else }}
CASKS+=(
  transmission
  vlc
  discord
)
{{ end }}

MAS=(
  441258766 # Magnet
  409203825 # Numbers
  409201541 # Pages
  497799835 # Xcode
)

# Install Homebrew if not already installed
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0m🍺 Installing Homebrew...'

   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
   # echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >>$HOME/.zprofile
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

# Update homebrew packages
printf '\nInitiating Homebrew update...\n'
brew update

printf '\nInstalling packages...\n'
brew install ${PACKAGES[@]}

printf '\n\nRemoving out of date packages...\n'
brew cleanup

printf '\n\nInstalling cask apps...\n'
brew install --cask ${CASKS[@]}


printf '\n\nInstalling app store apps...\n'
mas install ${MAS[@]}

{{ end -}}
