alias g="git"
alias k="kubectl"
alias tf="terraform"
alias v='$EDITOR'
alias cls="clear"
alias lg="lazygit"
alias ld="lazydocker"
alias cat="bat"
alias cd="z"

alias ports="lsof -iTCP -sTCP:LISTEN -n -P"
alias flushdns="echo 'Run:'; echo '  sudo dscacheutil -flushcache'; echo '  sudo killall -HUP mDNSResponder'"
alias reload="source ~/.zshrc"
alias kctx="kubectl config current-context"

{{ if .isWorkComputer }}
alias vpn="scutil --nc start {{ .machines.work.vpn }}"
{{ else }}
alias vpn="{{ .machines.personal.vpn }} connect"
{{ end }}
